.gallery {
  &__row {
    margin: 0 -15px;
  }
  &__item {
    position: relative;
    display: block;
  }
  &__info {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    color: #fff;
    background-color: rgba(7, 25, 78, .4);
    text-align: center;
    transition: background-color .3s;
  }
  &__title {
    font: {
      size: 1.4rem;
    }
  }
  &__description {
    margin-top: .8125em;
    font: {
      size: 1rem;
    }
  }
  &__img {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}
@media (min-width: $smBreakPoint) {
  .gallery {
    &__description {
      font: {
        size: .875rem;
      }
    }
  }
}
@media (min-width: $lgBreakPoint) {
  .gallery {
    &__item {
      &:hover {
        .gallery {
          &__info {
            background-color: rgba(7, 25, 78, .8);
          }
        }
      }
    }
  }
}
@media (min-width: $xlBreakPoint) {
  .gallery {
    &__title {
      font: {
        size: 1.875rem;
      }
    }
    &__description {
      font: {
        size: 1rem;
      }
    }
  }
}