.testimonials {
  padding: 100px 0;
  &__title {
    text-align: center;
  }
  &__item {
    margin-top: 40px;
    text-align: center;
  }
  &__text {
    margin-top: 15px;
    font: {
      weight: 300;
    }
  }
  &__name {
    margin-top: 5px;
    font: {
      size: 1.25rem;
      family: $accentFontFamily;
    }
  }
  &__position {
    color: #4582ff;
  }
}