$defaultBgColor: #333;
$accentGrayColor: #999;
$accentMiddleGrayColor: #555;
$accentLightGrayColor: #f6f6f6;

$defaultFontFamily: 'Roboto', sans-serif;
$accentFontFamily: 'Montserrat', sans-serif;

$smBreakPoint: 576px;
$mdBreakPoint: 768px;
$lgBreakPoint: 992px;
$xlBreakPoint: 1200px;